body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to left, #ffb75e, #ed8f03); */
  /* font-family: "Montserrat", "Arial", sans-serif; */
}
.cell {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: hsl(36, 88%, 33%);
  background: hsla(35, 90%, 91%, 1);
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1px;
  padding: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

.container {
  height: 100%;
  margin-top: 10%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.target {
  background-color: rgb(255, 8, 8);
  color: white;
  padding: 1.5%;
}
