.joins {
  stroke-width: 1.5px;
  margin-top: 10px;
}

.controller-sll {
  position: absolute;
  bottom: 0px;
  left: 0%;
  background-color: burlywood;
  width: 100vw;
  padding: 10px;
  border-top: 5px solid rgb(73, 73, 245);
}
