.node {
  display: inline-block;
  margin: -2.7px 0.1px;
  padding: 0;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(0, 0, 0);
}

.start-node {
  /* background-color: goldenrod; */
  background-image: url("./images/source.png");
  background-size: contain;
  z-index: 1000;
}

.target-node {
  background-color: rgb(55, 0, 255);
  background-image: url("./images/target.jpg");
  background-size: contain;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}
