.node {
  display: inline-block;
  margin: -2.7px 0.1px;
  padding: 0;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(53, 163, 236);
}

.start-node {
  background-color: goldenrod;
}

.target-node {
  background-color: rgb(55, 0, 255);
}

.node-wall {
  background-color: rgb(12, 53, 71);
}
