.queue-container {
  height: 50vh;
}

.queue {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.queue-element {
  background-color: rgb(63, 81, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
  border-radius: 100%;
}

.queue-pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.male {
  color: #fbeaff;
  font-size: 45px;
}

.female {
  color: #fbeaff;
  font-size: 45px;
}