.container {
  height: 50vh;
  max-width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.array {
  gap: 10px;
  flex-wrap: wrap;
}

.array-element {
  background-color: rgb(63, 81, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.array-element p {
  margin: 0;
  color: white;
  font-size: 22px;
}

.controlls-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  background-color: #333652;
  width: 100vw;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form */
.controlHandler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.controlHandler input {
  height: 30px;
  border: none;
}
button {
  background: none;
  outline: none;
  height: 30px;
  padding: 0 10px !important;
  background-color: #2692d0; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-decoration: none;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
