.array-container {
  margin: 0;
  height: 50vh;
}

.array {
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.array-element {
  background-color: rgb(63, 81, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.array-element p {
  margin: 0;
  color: white;
  font-size: 22px;
}

.controlls-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  background-color: #0C6170;
  width: 100vw;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 4px -1px rgb(0 0 0 / 20%),
    0px -4px 5px 0px rgb(0 0 0 / 14%), 0px -1px 10px 0px rgb(0 0 0 / 12%);
}

/* form */
.controlHandler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  height: 30px;
  border: none;
  border-radius: 5px;
}

.controlHandler input:focus {
  outline: none;
  border-left: 5px solid red;
  transition: all 0.5s;
}

select {
  max-height: 30px;
  border: none;
  outline: none;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.Button {
  background: none;
  outline: none;
  height: 30px;
  padding: 0 10px !important;
  border: 1px solid white !important;
  border: none;
  color: white !important;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize !important;
}