.node {
  fill: rgb(72, 14, 207);
  stroke: rgb(2, 1, 12);
  font-size: 25px;
}

.link {
  fill: rgba(241, 241, 241, 0);
  stroke: rgb(7, 7, 7);
  stroke-width: 1.5px;
}

.top {
  margin-top: 100px;
}
