.node {
  fill: rgb(72, 14, 207);
  stroke: rgb(2, 1, 12);
  font-size: 25px;
}

.link {
  fill: rgb(241, 241, 241);
  stroke: rgb(7, 7, 7);
  stroke-width: 1.5px;
}

.top {
  margin-top: 200px;
}

.controller-avl {
  position: absolute;
  bottom: 0px;
  left: 0%;
  background-color: burlywood;
  width: 100vw;
  padding: 10px;
  border-top: 5px solid rgb(73, 73, 245);
}
