.stack-container {
  margin: 0 auto;
  margin-top: 100px;
}

.stack {
  gap: 10px;
  padding: 0;
  margin: 0;
  padding: 20px;
  padding-bottom: 5px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 30px;
  height: 500px;
  width: 240px;
  background-color: #eae7fa;
  position: relative;
}

.element-box {
  width: 200px;
  background-color: #050a30;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.element-box p {
  width: 100%;
  color: yellow;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}

.element {
  padding: 2px !important;
  background-color: rgb(63, 81, 181);
  min-height: 25px;
  width: 200px;
  text-align: center;
  border-bottom: 3px solid #050a30;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: all 0.5s;
}

.element p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}